.game-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.cell {
    background-color: tan;
    display: inline-block;
    margin: 10px;
}

.matched {
    background: purple;
    font-weight: bold;
}

.flipped {
}

.closed {
    color: tan;
}