.game-table {
    display: grid;
}

.row {
    min-height: 100px;
}

.cell {
    background-color: tan;
    display: inline-block;
}

.matched {
    background: blue;
}

.flipped {
    background: green;
}

.closed {
    color: tan;
}